.footer {
  height: $footer-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;

  h1 {
    padding-bottom: 36px;
  }

  ul {
    padding-bottom: 60px;
    li {
      list-style: none;
      margin-bottom: 3px;
    }
  }

  .logo-container {
    padding: 20px;
    margin-left: -40px;
  }
}
