#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;

  @media (max-width: 600px) {
    height: inherit;
    overflow-x: hidden;
    width: 100vw;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $c-white;
  // margin-top: $header-height;
  // margin-bottom: $footer-height;
}

// Customer cursor
// html,
// body {
//   * {
//     cursor: none;
//   }
// }

.no-hover {
  pointer-events: none;
}
