.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $c-primary-dark;
  color: $c-white;

  h1 {
    animation: article-load 300ms ease-in;
    animation-fill-mode: forwards;
    font-size: 60px;
    line-height: 80px;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
