.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $c-primary-dark;
  color: $c-white;

  h1 {
    font-size: 80px;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
