.chart-area {
  // background-color: rgb(247, 229, 232);
  width: 100%;
}

// === TOOLTIP ===
.hidden {
  display: none;
  transition: opacity 0.3s ease;
}

.tooltip {
  position: absolute;
  width: 15vw;
  padding: 5px 10px;
  border: $c-primary-dark solid 1px;
  background: white;
  color: $c-primary-dark;
  z-index: 100;

  .header {
    padding-bottom: 6px;
  }

  span {
    font-weight: bold;
  }
}

// === LEGEND ===

.legend-container {
  padding-bottom: 5vh;

  .legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    p {
      font-size: 13px;

      // hunger
      &.yes {
        color: $c-primary-dark;
      }
      &.no {
        color: $c-accent-dark;
      }

      // migrate
      &.mig-no {
        color: $c-grey-dark;
      }
      &.mig-yes {
        color: $c-grey-dark;
      }
      &.mig-scale-1 {
        color: $c-grey-dark;
      }
      &.mig-scale-2 {
        color: $c-grey-dark;
      }
      &.mig-scale-3 {
        color: $c-grey-dark;
      }
    }
  }

  .legend-block {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    &.dot {
      border-radius: 50%;
    }

    // hunger
    &.yes {
      background-color: $c-primary-dark;
    }
    &.no {
      background-color: $c-accent-dark;
    }
    // migrate
    &.mig-no {
      background-color: #efefef;
    }
    &.mig-yes {
      background-color: #eb5832;
    }
    &.mig-scale-1 {
      background-color: #f3ebeb;
    }
    &.mig-scale-2 {
      background-color: #e2b9ad;
    }
    &.mig-scale-3 {
      background-color: #eb5832;
    }
  }
}

// === CHART ===
.scroll-chart-content-container {
  .title-container {
    height: 18vh;

    &.tall {
      height: 24vh;
    }

    p.chart-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 3vh;
    }
  }

  width: 100%;
  min-height: 100%;
  position: relative;

  .chart-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    // bottom: -100;

    .chart-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;

      p {
        font-weight: bold;
      }

      .axis-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        small {
          font-size: 11px;
          color: $c-grey-dark;
        }
      }
      width: 100%;
    }
  }
}
