.chart-area {
  // background-color: rgb(247, 229, 232);
}

.hidden {
  display: none;
  transition: opacity 0.3s ease;
}

.tooltip {
  position: absolute;
  width: 15vw;
  padding: 5px 10px;
  border: $c-primary-dark solid 1px;
  background: white;
  color: $c-primary-dark;
  z-index: 100;

  .header {
    padding-bottom: 6px;
  }

  span {
    font-weight: bold;
  }
}
