.chart-area {
  width: 100vw;
  height: 100vh;
}

.tooltip {
  position: absolute;
  width: 10vw;
  padding: 5px 10px;
  border: $c-primary-dark solid 1px;
  background: white;
  color: $c-primary-dark;
  z-index: 100;

  &.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
