.progressMainWrapper {
  color: white;
  background-color: $c-grey-light;
  height: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.progressMainStyle {
  height: 0.5rem;
  background-color: $c-primary-dark;
}
