.scroller {
  z-index: 99;
}
.step {
  max-width: $card-width;
  margin: 400px auto;
  padding: 30px 20px;
  background-color: $c-white;
  opacity: 0.95;
  box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child {
    opacity: 0;
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 10px;
  }

  span {
    font-weight: bold;
    &.red {
      background-color: $c-primary-dark;
      color: $c-white;
    }

    &.blue {
      background-color: $c-accent-dark;
      color: $c-white;
    }
  }
}

.cariLabel,
.migLabel {
  font-size: 16px;
  font-weight: 800;
  fill: $c-grey-dark;
}

.cariLabel2,
.migLabel2 {
  font-size: 24px;
  font-weight: 400;
  font-family: $font-title;
}
