.scroller {
  z-index: 99;
}
.dot-scroller {
  margin-bottom: 500px;
  .step {
    &:last-child {
      opacity: 1;
      margin-bottom: 0;
    }
  }
  pointer-events: none;
}

.step {
  max-width: $card-width;
  margin: 600px auto;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child {
    opacity: 0;
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 20px;
  }

  span {
    font-weight: bold;
    &.red {
      background-color: $c-primary-dark;
      color: $c-white;
    }

    &.blue {
      background-color: $c-accent-dark;
      color: $c-white;
    }
  }
}
