.section-card {
  width: $section-card-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-top: 20vh;
  z-index: 2;
  pointer-events: none;

  @media (max-width: 600px) {
    width: $section-card-width-mobile;
  }

  h1 {
    margin-bottom: 30px;
  }

  p {
    padding-left: 72px;
  }
}
