.section-card {
  // background-color: red;
  width: $section-card-width;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
  z-index: 2;
  pointer-events: none;

  h1 {
    margin-bottom: 30px;
  }

  p {
    padding-left: 72px;
  }

  @media (max-width: 600px) {
    width: $section-card-width-mobile;
  }
}
