#tooltip-survey {
  position: absolute;

  pointer-events: none;

  h3 {
    color: $c-primary-dark;
  }

  p {
    font-size: 14px;
    color: $c-primary-dark;
    line-height: 1rem;

    span {
      font-weight: bold;
    }
  }
}

.cariLabel,
.migLabel {
  font-size: 16px;
  font-weight: 700;
}

.cariLabel2,
.migLabel2 {
  font-size: 24px;
  font-weight: 400;
  font-family: $font-title;
}

// CHART

.cariLabel {
  font-size: 20px;
  color: #c00000;
}
