// === ELEMENTS ===
@import './tooltip';
@import './legend';

// === INDIVIDUAL CHARTS ===
@import './chart-map';
@import './chart-bell';
@import './chart-dot';
@import './chart-donut';

// === GENERAL ===
.chart-area {
  // background-color: rgb(69, 73, 92);
  width: 100%;
  height: 100%;
}

.chart-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  // bottom: -100;
}

.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  p {
    font-weight: bold;
  }

  .axis-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    small {
      font-size: 11px;
      color: $c-grey-dark;
    }
  }
  width: 100%;
}

// === SCROLL CHART  ===
.scroll-chart-content-container {
  width: 100%;
  height: 100%;

  position: relative;

  // background-color: rgb(146, 245, 245);

  // TITLE
  .title-container {
    height: 15vh;

    &.short {
      height: 5vh;
    }

    &.tall {
      height: 20vh;
    }
  }

  p.chart-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 3vh;
  }
}
