// === SETUP ===
@import 'setup/typography';
@import 'setup/variables';

// === LAYOUT ===
@import 'layout/layout';
@import 'layout/footer';
@import 'layout/preloader';

// === SECTIONS ===
@import 'section/section';
@import 'section/scroll';

@import 'section/intro';
@import 'section/outro';

@import 'section/01-map';
@import 'section/02-food-global';
@import 'section/04-grid';

// === COMPONENTS ===
@import 'components/chart-area';
@import 'components/chart-donut';

@import 'components/progress-bar';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: $c-white;
  background-color: $c-primary-dark;
}

html,
body,
textarea,
select,
input,
button {
  font-family: $font-main;
  line-height: 100%;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-height: 500px) {
    height: inherit;
  }
}

body {
  background-color: $c-white;
}

// // Customer cursor
html,
body {
  * {
    cursor: none;
  }
}

.no-hover {
  pointer-events: none;
}
