// === SETUP ===
@import 'setup/typography';
@import 'setup/variables';

// === LAYOUT ===
@import 'layout/layout';
@import 'layout/footer';
@import 'layout/preloader';

// === SECTIONS ===
@import 'section/section';
@import 'section/section-scroll';

// === COMPONENTS ===
@import './charts/chart-area';

@import 'components/progress-bar';
@import 'components/content-container';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: $c-white;
  background-color: $c-primary-dark;
}

html,
body,
textarea,
select,
input,
button {
  font-family: $font-main;
  line-height: 100%;
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// @media screen and (max-width: 600px) {
//   body {
//     height: inherit;
//     width: $content-width-mobile;
//   }
// }

Customer cursor html,
body {
  * {
    cursor: none;
  }
}

.no-hover {
  pointer-events: none;
}
