#root {
  width: $content-width-pc;
}

@media (max-width: 1920px) {
  #root {
    width: $content-width-mobile;
    // background-color: beige;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // margin-top: $header-height;
  // margin-bottom: $footer-height;
}
