@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,400&family=Spectral:wght@600;800&display=swap');

@import 'variables';

$font-title: 'Spectral', serif;
$font-main: 'Roboto', sans-serif;

@mixin body-regular {
  font-family: $font-main;
  font-style: normal;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: $font-title;
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 37px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

p,
pre {
  @include body-regular;
  font-size: 16px;
  line-height: 24px;
}

ul {
  @include body-regular;
  font-size: 16px;
  line-height: 19px;
}

ol {
  @include body-regular;
  font-size: 16px;
  line-height: 19px;
}

small {
  @include body-regular;
  font-size: 12px;
  line-height: 19px;
}

span {
  font-weight: bold;
  &.red {
    color: $c-primary-dark;
  }

  &.blue {
    color: $c-accent-dark;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
    line-height: 20px;
  }
  p,
  pre {
    @include body-regular;
    font-size: 14px;
    line-height: 20px;
  }
  li {
    @include body-regular;
    font-size: 14px;
    line-height: 20px;
  }
}
