.section-break {
  height: 110vh;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.red {
  color: $c-primary-dark;
}

#y-axis line {
  display: none;
}

#tooltip {
  position: absolute;
  padding: 5px;
  background: #fff;
  border: solid gray 1px;
  z-index: 1;
}

#tooltip.hidden {
  display: none;
}
