.food-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    max-width: 45vw;
    padding-left:10vw;
  }
}

.red {
  color: $c-primary-dark;
}

.domain{
  display:none
}
