.food-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    max-width: 45vw;
  }
}

.red {
  color: $c-primary-dark;
}

#y-axis line {
  display: none;
}

#tooltip {
  position: absolute;
  padding: 5px;
  background: #fff;
  border: solid gray 1px;
  z-index: 1;
}

#tooltip.hidden {
  display: none;
}
