.intro {
  // TIMES
  // -----------------
  $title-load-time: 300ms;
  $subtitle-delay-time: 350ms;
  $subtitle-load-time: 300ms;
  $scroll-load-delay: 800ms;

  .header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    h1 {
      animation: article-load $title-load-time ease-in;
      animation-fill-mode: forwards;
      font-size: 60px;
      font-weight: 800;
      padding-bottom: 20px;
      line-height: 60px;
      color: $c-primary-dark;
    }

    .subtitle {
      opacity: 0;
      animation: article-load $subtitle-load-time ease-in $subtitle-delay-time;
      animation-fill-mode: forwards;
      font-family: $font-main;
      font-size: 24px;
      font-weight: 100;
      padding-bottom: 30px;
      line-height: 30px;
    }
  }

  small {
    opacity: 0;
    animation: article-load 300ms ease-in $scroll-load-delay;
    animation-fill-mode: forwards;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    top: auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro {
    h1 {
      font-size: 36px;
      padding-bottom: 20px;
      line-height: 30px;
    }
    .subtitle {
      font-family: $font-main;
      font-size: 16px;
      font-weight: 100;
      padding-bottom: 30px;
      line-height: 30px;
    }
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
