.outro {
  .container {
    max-width: $content-width-pc;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-flex;
    justify-content: center;
    gap: 120px;
  }

  .container > div {
    flex: 1 1;
  }

  .sources {
    display: flex;
    flex-direction: column;

    .reference {
      padding-bottom: 40px;
    }
  }

  h1 {
    margin-bottom: 30px;
  }

  ul {
    padding-left: 20px;
  }
  li {
    // list-style: none;
    padding-bottom: 10px;
    line-height: 24px;
  }

  a {
    color: $c-primary-dark !important;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
