@import '../components/scroll-card';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main__graphic {
    top: 10vh;
    min-height: 80vh;
    max-width: $content-width-pc;
    width: 90vw;
    position: sticky;
    // border: 1px solid $c-grey-dark;
    // background-color: $c-grey-light;
    // opacity: 0.5;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dot {
    align-items: center;
  }
}
