@import '../components/scroll-card';

.main {
    position: relative;

    .main__graphic {
        top: 10vh;
        min-height: 80vh;
        position: sticky;
        z-index: -1;
        height: 100%;
        width: 100%;
        border: 1px solid $c-grey-dark;
        background-color: $c-grey-light;
        opacity: 0.5;
        font-size: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        #map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        #myImg {
            height: 100%;
            min-width: 100%;
            position: absolute;
            background: center center/cover;
        }
    }
}
