@import '../components/section-card';

.section {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  padding-left: 150px;
  padding-right: 150px;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.start {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.section-card {
  padding-top: 20vh;
  z-index: 2;
}
