@import '../components/section-card';

// GLOBAL
.section {
  min-height: 103vh;
  width: 100%;

  // REGULAR
  &.regular {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  // POSITION
  &.absolute {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  // ALIGN
  &.center {
    justify-content: center;
    align-items: center;
    // background-color: blue;
  }

  &.start {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
