@import '../components/section-card';

.section-break {
    height: 100vh;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.section-card{
    margin-left: 10vw;
    padding-top: 20vh;
}

.map-chart{
    position: absolute;    
    right: 0;
    // z-index: -1;
}

.map-tooltip {
    position: absolute;
    padding: 5px 10px;
    border: $c-primary-dark solid 1px;
    background: white;
    color: $c-primary-dark;
    z-index:1
}

.hidden{
    opacity: 0;
    transition: opacity 0.3s ease;
}
